// Variables

// Colors
$purple: #FB0186;
$blue: #0999E5;
$green: #15BEBB;
$darkBlue: #0E3150;
$lightBlue: #CEEEFF;
$yellow: #FFD950;
$grey: #687886;
$secondaryGrey: #B2C0CD;
$lightGrey: #DFE4E9;
$light: #F7F9FA;
